<form accept-charset="UTF-8" action="/" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
 <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
</form>
<h1> SoftLog </h1>

<p>
<%= label_tag(:nom_usuario, "Usuario") %>
<%= password_field_tag(:password) %>
</p>

<p>
<%= label_tag(:pass_usuario, "Contraseña") %>
<%= password_field_tag(:password) %>
</p>
